@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@font-face {
    font-family: AlkSanet;
    src: url('/fonts/alk-sanet.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'AlkSanet', sans-serif;
}

body {
    background-color: #242424;
    font-size: 62.5%;
}

#root {
    position: relative;
    min-height: 100vh;
}

#wrapper {
    padding-bottom: 2.5rem;
}