footer {
    color: grey;
    padding: 0.1rem;
    font-size: 0.7vw;
    position: absolute;
    bottom: 0;

    a {
        margin: 0 0.3vw;
        position: relative;
        top: 0.05vw;

        svg.github {
                &:hover {
                    color: white;
                }
        }
    }
}