.loader {
  font-size: 8vw;
  color: whitesmoke;
}

.loader::after {
  content: ".";
  animation: loading 0.2s infinite;
}
  
@keyframes loading {
  20% { content: "." }
  40% { content: ".." }
  60% { content: "..." }
  80% { content: "..." }
  100% { content: "..." }
}