nav {
    display: flex;
    height: 3vw;
    align-items: center;
    background-color: #121212;
    border-bottom: .1vh solid rgba(255, 255, 255, 0.3);

    img {
        cursor: pointer;
        margin-left: 1vw;
        height: 2vw;
        transition: 0.2s height;

        &:hover {
            height: 2.1vw;
        }
    }
}