#video-player-container {
    display: flex;
    align-items: center;
    padding: 1vw;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    background-color: #181818;
}

.video-js {
    height: 100%;
    width: 90vw;
    padding-bottom: 40%;

    .vjs-big-play-button {
        font-size: 3.5vw;
        height: 6vw;
        width: 10vw;
        border-radius: 0.6vw;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 1.5vw;
        left: 1.5vw;
    }
}