.episode {
    width: 18vw;
    cursor: pointer;
    transition: 0.2s;
    display: inline-block;

    .episode-cover {
        height: 10vw;

        img {
            object-fit: cover;
            width: 95%;
            height: 100%;
        }
    }

    .episode-textual-data {
        padding: 0.5vw;
        color: #ccc;

        .episode-index {
            font-size: 0.8vw;
        }

        .episode-title {
            font-size: 1vw;

            &.active::after {
                content: " (Playing)";
                font-size: 0.5vw;
                color: cornflowerblue;
            }
        }
    }

}