.episode {
    margin: 1rem;
    width: 15rem;
    height: 10rem;
    cursor: pointer;
    transition: 0.2s;

    .episode-cover {
        height: 80%;
        background-color: #181818;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    .episode-textual-data {
        padding: 0.2rem;
        color: #ccc;

        .episode-index {
            font-size: 0.5rem;
        }

        .episode-title {
            font-size: 0.7rem;
        }
    }

}