.episode {
    width: 18vw;
    cursor: pointer;
    transition: 0.2s;
    display: inline-block;

    .episode-cover {

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    .episode-textual-data {
        padding: 0.2rem;
        color: #ccc;

        .episode-index {
            font-size: 0.8vw;
        }

        .episode-title {
            font-size: 1vw;
        }
    }

}