.season {
    cursor: pointer;
    padding: 1rem;
    width: 6rem;
    font-size: 0.7rem;
    color: whitesmoke;
    border-bottom: 1px solid grey;
    margin-left: 1rem;
    text-align: center;
    transition: 0.2s border;

    &:hover {
        border-bottom: 1px solid whitesmoke;
    }
}

.active {
    font-weight: bold;
    border-bottom: 1px solid whitesmoke;
}