#episode-switcher {
    transition: 0.2s opacity;
    display: flex;
    padding: 2rem;
    justify-content: center;

    #episodes-container {
        width: 90%;
        white-space: nowrap;
        overflow-x: hidden;
        min-height: 10rem;
    }
}

