$scrollbar-border-radius: 0.2rem;

#search-results-container {
    display: flex;
    flex-direction: column;
    align-items: center;


    #clear-results-container {
        color: white;
        width: 25rem;
        display: flex;
        justify-content: flex-end;

        @media only screen and (max-width: 600px) {
            width: 18rem;
        }

        #clear {
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    #search-results {
        max-height: 30.95rem;
        width: 25rem;
        overflow: hidden;

        @media only screen and (max-width: 600px) {
            width: 18rem;
        }
    }
}