$search-bar-box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
$search-bar-box-shadow-focused: 3px 3px rgba(0, 0, 0, 0.3);
$search-bar-box-shadow-searching: 2px 2px grey;

header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2.5rem;
    padding-bottom: 1rem;
    align-items: center;

    #search-bar {
        font-size: 1rem;
        height: 2.5rem;
        width: 25rem;
        padding: 0.5rem;
        border: none;
        box-shadow: $search-bar-box-shadow;
        transition: .3s ease-in-out;
        outline: none;
        border-top-left-radius: 0.5rem;

        @media only screen and (max-width: 600px) {
            width: 18rem;
        }

        &:focus {
            box-shadow: $search-bar-box-shadow-focused;
        }

        &.searching {
            animation: searching 0.3s infinite;

            @keyframes searching {
                from { box-shadow: $search-bar-box-shadow-focused }
                to { box-shadow: $search-bar-box-shadow-searching }
            }
        }
    }

    p {
        color: white;
        margin-bottom: 0.2rem;
        margin-left: 0.5rem;
        font-size: 0.5rem;
    }
}